
/* custom css for gallery pages*/
body {
  
  color: #000;
  background-color: #999;
}

/* css for a tags in gallery*/
.Ahead a {
	color: #FFF;
	border-style: solid;
	border-color: #000;
	background-color: #000; 
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 1px;
	padding: 2px;
	box-shadow: 0px 6px 3px -3px #777777; 
	position: relative;
}
/* changes return ti album link to white*/
#edreturn {
	color: #FFF;
}

.albumheadlines {

	text-align: center;
	font-size: 80px;
	font-family: monospace;
	
}