/* custom css for home page*/

.info{
	color: #FFF;
	font-size: 20px;
}
/* Login form*/
.form-control {
    width: 100%;
}

form.form-signin {
    width: 300px;
    margin: 0 auto;
}

#login {
    background-color: #999;
    color: #000; 
    width: 400px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
/*form error message */
.help{
    color: red;
    font-size: 18pt;
 }

.mboard{
    background-color: #999;
    color: #000; 
}

#mboardheader{
   font-size: 50pt; 
}

.mboardtablehead{
    font-size: 20pt;
}
#require{
	color: #ffff00;
	text-decoration: underline;
}
th{
    border: solid; 
    border-color: black;
}
td{
    border: solid; 
    border-color: black;
}
/*form animation*/

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(-30px); 
    } 
    80% { 
        -webkit-transform: translateX(10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 

.bounceInRight { 
    -webkit-animation-name: bounceInRight; 
    animation-name: bounceInRight; 
}
/*fornm end*/
 .SUform{
    color: #000;
    background-color: #999;
    
    -webkit-box-shadow: 0 8px 75px -6px black;
    -moz-box-shadow: 0 8px 75px -6px black;
    box-shadow: 0 8px 75px -6px black;
    padding: 50px;
 }
a:hover.btn.btn-primary, .btn.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #999;

}
.formtext{
    float: right;
}

input{
   border-style: solid; 
}
/*Whodat pic animation*/
.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes rollIn { 
    0% { opacity: 0; -webkit-transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; -webkit-transform: translateX(0px) rotate(0deg); } 
} 
@keyframes rollIn { 
    0% { opacity: 0; transform: translateX(-100%) rotate(-120deg); } 
    100% { opacity: 1; transform: translateX(0px) rotate(0deg); } 
} 
.rollIn { 
    -webkit-animation-name: rollIn; 
    animation-name: rollIn; 
}
/*end whodat*/